>>> img{
  width 100%
  height 100%
}
.container{
  height 100%
  .main-box{
    // height 80%
    padding-top: 198px
    overflow auto
  }
  .card{
    width 100%
    padding 16px 20px
    border-bottom 1px solid rgba(238,238,238,0.6)
    display flex  
    align-items: center
    justify-content: space-between
    .portrait{
      width 192px
      height 192px
      position: relative
      .addgoods{
        position: absolute
        bottom -6px
        left 50%
        margin-left: -22px
        width 44px
        height 44px  
      }
    }
    .content{
      width 506px
      position relative 
      h3{
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
        text-align left
        font-size: 28px;
        color: #262626;
        margin-bottom: 10px
      }
      .sales-num{
        display flex
        justify-content: space-between
        font-size: 22px;
        color: #8D93A4;
        .stock{
          &.red{
            color: #E93A0F; 
          }
          font-size 24px
          color: #575C68;
        }
      }
      .icon{
        width 32px
        height 32px 
        margin-right 10px 
      }
      .labels{
        display flex
        flex-wrap wrap
        margin-top: 14px
        .label{
          &.pink{
            color: #F2604D;
            border: 1px solid #F2604D;
          }
          &.red{
            color: #FFFFFF;
            background: #E93A0F;
            border: 1px solid #E93A0F;
          }
          height 32px  
          line-height: 32px
          margin-right 10px
          font-size: 20px;
          // 
          color: #8D93A4;
          padding 0 8px
          background: #fff;
          // 
          border: 1px solid #ADB1BE;
        }
        .drop-btn{
          position absolute
          right 0
          // top 50%
          width 26px
          height 26px 
        }
      }
      .other-data{
        &::before{
          content ''
          width 30px
          height 14px
          background url('../../assets/images/icon/shop_bgarrow@2x.png') no-repeat center
          position absolute
          top -14px 
          left 0
        }
        position relative
        margin-top: 20px
        background: #F6F6F6;
        border-radius: 8px; 
        width 100%
        padding 22px 16px
        .title{
          font-size: 20px;
          color: #8D93A4;
          text-align: left  
          &:last-of-type{
            margin-top:  24px
          }
        }
        .content{
          text-align: left
          font-size: 24px;
          color: #575C68; 
          span:last-child{
            margin-left:  30px
          }
        }
        .other-goods{
          display: flex
          margin-top: 8px
          justify-content: flex-start
          li{
            width 70px
            height 70px
            margin-right: 12px
          }  
        }
      }
    }
  }
}